---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Matthew Traul">
	<main>
		<h1>Hey, I’m Matthew</h1>
		<p>I’m a product designer, researcher, and front-end engineer. I’m currently a staff product designer at The.com, building new web tools for new web people.</p>
		<p>Before The.com, I was the founding designer for QA Wolf. I helped take their existing CLI tool from 0–1, designing a web app & platform for QA Engineers to automate their end-to-end browser testing. I also designed the documentation website, marketing website, and helped develop the pricing structure that led to the first cohort of paying customers.</p>
		<p>Prior to that, I designed tools to improve designer & developer collaboration at InVision, working across InVision Studio, Inspect, Inspect Motion, and GitHub & Jira integrations.</p>
		<p>I got my start in product design at IBM, where I contributed to a variety of enterprise software product releases across different organizations during my four-and-a-half-year tenure. During that time, I also had the unique opportunity to contract with Apple, where I focused on prototyping apps for the Apple at Work program.</p>
		<h2>Work</h2>
		<ul role="list" class="list-strip">
			<div class="list-item--bordered">
				<span class="list-item--border"></span>
				<li class="list-item--icon">
					<object class="list-item__icon" type="image/svg+xml" data="TheDotCom.svg"></object>
					<span class="flex--fill-container list-item--title">The.com</span>
					<span class="flex--hug-content list-item--role">Staff Designer</span>
					<span class="flex--hug-content list-item--date">2022–&nbsp;&nbsp;</span>
				</li>
			</div>
			<div class="list-item--bordered">
				<span class="list-item--border"></span>
				<li class="list-item--icon">
					<object class="list-item__icon" type="image/svg+xml" data="OpenTable.svg"></object>
					<span class="flex--fill-container list-item--title">OpenTable</span>
					<span class="flex--hug-content list-item--role">Sr. Product Designer</span>
					<span class="flex--hug-content list-item--date">2021–22</span>
				</li>
			</div>
			<div class="list-item--bordered">
				<span class="list-item--border"></span>
				<li class="list-item--icon">
					<object class="list-item__icon" type="image/svg+xml" data="QAWolf.svg"></object>
					<span class="flex--fill-container list-item--title">QA Wolf</span>
					<span class="flex--hug-content list-item--role">Founding Designer</span>
					<span class="flex--hug-content list-item--date">2021&nbsp;&nbsp;&nbsp;</span>
				</li>
			</div>
			<div class="list-item--bordered">
				<span class="list-item--border"></span>
				<li class="list-item--icon">
					<object class="list-item__icon" type="image/svg+xml" data="InVision.svg"></object>
					<span class="flex--fill-container list-item--title">InVision</span>
					<span class="flex--hug-content list-item--role">Sr. Product Designer</span>
					<span class="flex--hug-content list-item--date">2018–20</span>
				</li>
			</div>
			<div class="list-item--bordered">
				<span class="list-item--border"></span>
				<li class="list-item--icon">
					<object class="list-item__icon" type="image/svg+xml" data="Apple.svg"></object>
					<span class="flex--fill-container list-item--title">Apple</span>
					<span class="flex--hug-content list-item--role">Product Designer</span>
					<span class="flex--hug-content list-item--date">2016&nbsp;&nbsp;&nbsp;</span>
				</li>
			</div><div class="list-item--bordered">
				<span class="list-item--border"></span>
				<li class="list-item--icon">
					<object class="list-item__icon" type="image/svg+xml" data="IBM.svg"></object>
					<span class="flex--fill-container list-item--title">IBM</span>
					<span class="flex--hug-content list-item--role">Product Designer</span>
					<span class="flex--hug-content list-item--date">2014–18</span>
				</li>
				<span class="list-item--border"></span>
			</div>
		</ul>
		<h2>Talks & Interviews</h2>
		<ul role="list" class="list-strip">
			<li>Product Hunt Radio</li>
			<li>Product Hunt AMA</li>
			<li>Dribbble Hangtime Keynote</li>
			<li>Circles Conf Workshop</li>
			<li>Underbelly Winter Drop In</li>
			<li>AIGA Design Camp Keynote</li>
			<li>HOW Magazine</li>
			<li>AIGA Design Camp Workshop</li>
			<li>Dribbble Timeout</li>
		</ul>
		<h2>Elsewhere</h2>
		<ul role="list" class="list-strip">
			<li>Twitter</li>
			<li>Figma</li>
			<li>GitHub</li>
			<li>CodePen</li>
			<li>Dribbble</li>
			<li>LinkedIn</li>
		</ul>
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul> -->
	</main>
</Layout>

<style>
	.list-strip {
		display: grid;
		margin-block-end: var(--spacing-0);
		margin-inline-start: var(--spacing-0);
		margin-inline-end: var(--spacing-0);
		padding-inline-start: var(--spacing-0);
		list-style-type: none;
	}

	.list-item--icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: var(--spacing-08);
		padding: var(--spacing-08) 0;
	}

	.list-item--bordered {
		display: flex;
		flex-direction: column;
	}

	.list-item--border {
		width: 100%;
		border-top: 1px solid var(--color-border);
		border-bottom: 0;
	}

	.flex--fill-container {
		flex-grow: 1;
		flex-shrink: 0;
	}

	.flex--hug-content {
		flex-shrink: 1;
	}

	.list-item__icon {
		width: 24px;
		height: 24px;
	}

	.list-item--title {
		font-weight: 500;
	}

	.list-item--role {
		color: var(--color-text-2);
		text-align: right;
	}
	
	.list-item--date {
		display: none;
		flex: none;
		color: var(--color-text-3);
		text-align: right;
		font-family: var(--font-mono);
		font-size: 15px;
	}

	@media only screen and (min-width: 408px) {
		.list-item--date {
			display: block;
		}
	}

	@media only screen and (min-width: 560px) {
		.list-item--date {
			font-size: 17px;
		}
		.list-item--icon {
			column-gap: var(--spacing-12);
			padding: var(--spacing-12) 0;
		}
	}
</style>
